<h1>Contributors</h1>

<p>Thank you to the following people who've made 6to5 what it is today by contributing <a href="https://github.com/6to5/6to5">code</a> or reporting <a href="https://github.com/6to5/6to5/issues">issues</a>.

<div class="row">
  <div class="col-md-4">
    <h2>Code</h2>

    <div id="code-contributors">
      {{#each codeContributors}}
        <p>
          <a href="{{html_url}}">
            <img width="30" height="30" src="{{avatar_url}}">
            <span>{{login}}</span>
          </a>
        </p>
      {{/each}}
    </div>
  </div>

  <div class="col-md-8">
    <h2>Issues</h2>

    <div id="issue-contributors">
      {{#each issueContributors}}
        <p>
          <a href="{{html_url}}">{{login}}</a>
        </p>
      {{/each}}
    </div>
  </div>
</div>
