<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>6to5 &middot; Turn ES6+ code into readable vanilla ES5</title>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
  </head>
  <body>
    <a href="https://github.com/6to5/6to5">
      <img class="ribbon" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub">
    </a>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 sidebar">
          <a href="index.html" class="logo">
            <img alt="6to5" src="https://raw.githubusercontent.com/6to5/logo/master/logo.png">
          </a>

          <ul class="nav nav-pills nav-stacked">
            {{list_link "Features" "features.html"}}
            {{list_link "Usage" "usage.html"}}
            {{list_link "Plugins" "plugins.html"}}
            {{list_link "Differences" "differences.html"}}
            {{list_link "Contributors" "contributors.html"}}
          </ul>

          <hr>

          <ul class="nav nav-pills nav-stacked">
            {{list_link "REPL" "repl.html"}}</a>
            {{list_link "Browser" "browser.html"}}</a>
            {{list_link "Polyfill" "polyfill.html"}}</a>
            {{list_link "React/JSX" "react.html"}}</a>
            {{list_link "Modules" "modules.html"}}</a>
            {{list_link "Optional runtime" "optional-runtime.html"}}</a>
            {{list_link "Caveats" "caveats.html"}}</a>
          </ul>
        </div>

        <div class="col-sm-9 markdown-body">
          {{{content}}}
        </div>
      </div>

      <footer>
        <hr>
        <p><a href="https://github.com/6to5/6to5">6to5</a> v{{{version}}}</p>
      </footer>
    </div>
  </body>
</html>
